* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Brilliant";
  src: url("./styles/fonts/Brilliant.ttf") format("truetype");
}
@font-face {
  font-family: Aussiente;
  src: url("./styles/fonts/Aussiente.ttf") format("truetype");
}
@font-face {
  font-family: "Impact label";
  src: url("./styles/fonts/Impact\ Label.ttf") format("truetype");
}
@font-face {
  font-family: "Admiration Pains";
  src: url("./styles/fonts/Admiration\ Pains.ttf") format("truetype");
}
body {
  color: #0d2746;
  font-family: "David Libre",Helvetica, sans-serif;
  font-weight: 500;
}
li{
  list-style: none;
}
p,li{
  opacity: 0.7;

}
/* #logo img{
  margin: 0 auto;
} */
nav {
  text-align: center;
  opacity: 0.7;
}
nav a {
  margin: 1rem 3.8em;
  text-decoration-line: none;
  color: rgb(15, 45, 70);
  font-size: 1.2rem;
  font-weight: 900;
}
nav a {
  display: inline-block;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
}

#main h3 {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(22, 64, 104);
  color: azure;
  position: sticky;
  top: 0rem;
  width: 100%;
  opacity: 1;
  display: inline-flex;
}
#main>h3{
  font-family: 'Raleway', 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 100;
}
.signature{
  /* display: inline-block; */
  font-family: Aussiente, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: left;
  position: relative;
  left: 80%;
}

.signature a:link{
  color: rgb(154, 176, 190);
  text-decoration: none;
}
.signature a:visited {
  color: rgb(154, 176, 190);
}
.signature a:hover{
  color: #ffffff;
}

.aboutme  {
  margin-top: 0.75rem;
  padding-left: 1rem;
}
.aboutme p{
  font-size: 1.25rem;
  margin: 0.8rem;
  margin-top: 0.2rem;
  line-height: 2rem;
}
.aboutme ul{
  padding-left: 0rem;
  line-height: 1.9rem;
  margin: 1.25rem 0;
}
/* .img{
  overflow: hidden;
}
.img img{
  position: relative;
  width: 95rem ;
  object-fit: scale-down;
  /* padding: 0 0.2rem; 
} */

th{
  border: 0px;
  padding: 0 1rem;
  border-top:   rgb(22, 64, 104) solid 3px;
  border-bottom:  rgb(22, 64, 104) solid 3px;
  table-layout: initial;
}
td{
  border: rgb(22, 64, 104) solid 3px;
  padding: 0;
  border-right: none;
}
li{
  text-align: center;
  font-size: 2rem;
  opacity: 1;
  margin: 1rem 0;
  padding: 1rem 0;
}
table{
  padding: 1rem;
  background-color: rgb(233, 245, 245);
  margin: 1.25rem auto;
  border-collapse: collapse;
}
.td {
  width: 18rem;
  height: 10rem;
  border-bottom: white solid 3px;
  padding: 0 0.25rem;
  padding-top: 1rem;

}

.programming {
  background-image: url("./styles/images/code.jpg");
  height: 29rem;
  background-size: 95rem;
  margin-left: -1rem;
  margin-top: 1.25rem;
}
.programming{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-family: "Impact label", 'Times New Roman', Times, serif;
  padding: 20rem 1.5rem 2rem 60rem;
  line-height: 1.9rem;

}

.shows img {
  margin-top: 1rem;
  padding: 0.2rem;
  width: 94rem;
  height: 55rem;
  border: rgba(9, 48, 80, 0.164) solid 10px;
  margin-left: -1rem;
}
.caption {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: #141f36;
  font-family: "Raleway", 'Times New Roman', Times, serif;
  font-weight: 900;
    
}



























footer{
  margin-top: 5rem;  
  color: rgb(188, 199, 207);
  background-color: rgb(7, 26, 46);
  width: 100%;
  padding: 2rem;
  padding-bottom: 2.5rem;
  text-align: left;
  opacity: 0.9;
  margin-bottom: 0;
  font-family: 'Playfair Display', Geneva, Verdana, sans-serif;
}
footer .copyrights {
  text-align: right;
  display: inline;
  position: absolute;
  right: 1rem;
  font-size: 0.75rem;
  opacity: 1 !important;
}
