* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Brilliant";
  src: url("/styles/fonts/Brilliant.ttf") format("truetype");
}
@font-face {
  font-family: Aussiente;
  src: url("/styles/fonts/Aussiente.ttf") format("truetype");
}
body {
  color: #0d2746;
  font-family: "David Libre",Helvetica, sans-serif;
  font-weight: 500;
}
p,li{
  opacity: 0.7;

}
/* #logo img{
  margin: 0 auto;
} */
nav {
  text-align: center;
  opacity: 0.7;
}
nav a {
  margin: 1rem 3.8em;
  text-decoration-line: none;
  color: rgb(15, 45, 70);
  font-size: 1.2rem;
  font-weight: 900;
}
nav a {
  display: inline-block;
  list-style-type: none;
  justify-content: center;
  align-items: flex-start;
}

#main h3 {
  font-size: 1.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(22, 64, 104);
  color: azure;
}
.aboutme  {
  padding-left: 1rem;
}
.aboutme p{
  margin: 0.8rem;
}
.aboutme ul{
  padding-left: 3rem;
  line-height: 1.9rem;
  margin: 1.25rem 0;
}
/* .img{
  overflow: hidden;
}
.img img{
  position: relative;
  width: 95rem ;
  object-fit: scale-down;
  /* padding: 0 0.2rem; 
} */

th{
  border: 0px;
  padding: 0 1rem;
  border-top:   rgb(22, 64, 104) solid 3px;
  border-bottom:  rgb(22, 64, 104) solid 3px;
  table-layout: initial;
}
td{
  border: rgb(22, 64, 104) solid 3px;
  padding: 0;
}
li{
  text-align: center;
}
table{
  margin: 1.25rem auto;
  border-collapse: collapse;
}
.td {
  width: 18rem;
  height: 10rem;
  border-bottom: white solid 3px;
  padding: 0 0.25rem;
  padding-top: 1rem;

}
.football{
  tab-size: 25rem;
}



























footer{
  margin-top: 5rem;  
  color: rgb(171, 196, 218);
  background-color: rgb(18, 37, 56);
  display: inline-block;
  width: 100%;
  padding: 1.6rem;
  padding-bottom: 1rem;
  text-align: left;
  opacity: 0.9;


}
footer .copyrights {
  text-align: right;
  display: inline;
  position: absolute;
  right: 1rem;
  font-size: 0.75rem;
  opacity: 1 !important;
}
footer .signature{
  /* display: inline-block; */
  font-family: Aussiente, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 900;
}
.signature a:link{
  color: rgb(154, 176, 190);
  text-decoration: none;
}
.signature a:visited {
  color: rgb(154, 176, 190);
}
.signature a:hover{
  color: #ffffff;
}